.sidebar{
  
    position: fixed;
    background-color:#29292D;
    width: 80%;
    position: fixed;
    height: 100%;   
    display: none;
}
.sidebar_info_block{
    height: 100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted black 0.5px;
    border-top: none;
    border-right: none;
    font-size: 17px;
}
