.product_card_container{
   
    margin:25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 80%;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;


    
}



.product_card_image{
    justify-content: center;
    align-items: center;
    display: flex;
    width:100%;
    height: calc(100% - 157px);
    margin-top: auto;
    margin-bottom: 15px;

}  

.product_card_image img {
    height: 100%;
    width:100%;
}

.product_card_name{
    font-size: 26px;
    font-weight: bold;

    
}


.product_card_price{
    font-size: 25px;
    font-weight: bold;
    color: #1EBAD6;

}


.product_card_info{
    font-size: 17px;
}


.product_card_sellerinfo{
    display: flex;
    
}
.product_card_soldby{
    color: yellow;
}

.product_card_sellerName{
    text-decoration: underline;
    color: #1EBAD6;
}


.product_card_footerDetails{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}


.product_card_location{
    
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color:yellow;
}
.product_card_locationicon{
    padding-right: 5px;
}

.product_card_details{
    margin-top: 0px;
    margin-bottom: auto;
}

.centering_object{
    margin-top: auto;
    margin-bottom: auto;
    height:100%;
    width: 100%;
}
.product_card_distance{
    color: yellow;
}

.price_with_rating_contain{
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.product_card_rating{
    align-items: center;
    display: flex;
    justify-content: center;
}

.product_card_date{
    align-items: center;
    display: flex;
    justify-content: center;
}