.product_image_component_section
{
    height: 100%;
    width: 100%;
    position:relative;
}

.scroll_bubbles{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 20px;
    width: fit-content;
    bottom:13px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);

}

.scroll_dots{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border:white solid 3px;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
}

.scroll_dots_selected{
    border:white solid 3px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color:#1EBAD6;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
}

.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 5;
  }

  .prev
  {
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    color: white;
    font-weight: bold;
    left: 10px;
    position: absolute;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none; 
    z-index: 5;
  } 
  
  .next {
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    position: absolute;
    color: white;
    font-weight: bold;
    right:10px;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;

  }

  .product_details_image_component{
      height: 100%;
      width:100%;
      position: relative;
      
  }